# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed

# OS files
.DS_Store
Thumbs.db

# Optional: Ignore uploads or temp folders
uploads/
tmp/
